<%= simple_form_for [@calendar, @entry], :html => { :class => 'form-horizontal' } do |f| %>
  <p>Calendar: <%= @calendar.name %></p>
  <%= f.input :calendar_id, :as => :hidden %>
  <%= f.input :day %>
  <%= f.input :unlock_date, :as => :string, :input_html => {:class => 'dt'} %>
  <%= f.association :song %>
  <%= f.association :picture %>
  <%= f.association :movie %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                entries_path, :class => 'btn' %>
  </div>
<% end %>
