<%= simple_form_for [@calendar, @entry], :html => { :class => 'form-horizontal' } do |f| %>
  <p>Calendar: <%= @calendar.name %></p>
  <%= f.input :calendar_id, :as => :hidden %>
  <%= f.input :day %>
  <%= f.association :song, :label_method => :label, :collection => Song.unassigned %>
  <%= f.association :picture, :collection => Picture.unassigned, :label_method => :picturefile_file_name %>
  <%= f.association :movie, :collection => Movie.unassigned %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                entries_path, :class => 'btn' %>
  </div>
<% end %>
