<%- model_class = Entry -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:calendar_id) %>:</strong></dt>
  <dd><%= @entry.calendar_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:song_id) %>:</strong></dt>
  <dd><%= @entry.song_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:picture_id) %>:</strong></dt>
  <dd><%= @entry.picture_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:movie_id) %>:</strong></dt>
  <dd><%= @entry.movie_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:day) %>:</strong></dt>
  <dd><%= @entry.day %></dd>
  <dt><strong><%= model_class.human_attribute_name(:x) %>:</strong></dt>
  <dd><%= @entry.x %></dd>
  <dt><strong><%= model_class.human_attribute_name(:y) %>:</strong></dt>
  <dd><%= @entry.y %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              entries_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_entry_path(@entry), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              entry_path(@entry),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
