<center>
	<div id="entrymedia">
	<% if @entry.movie && @moviechannel %>
		<%= @entry.movie.embed_code.html_safe %>
	<% else %>
		<%= display_picture(@entry) %>
		<% if @entry.song %>
			<center><p id="audioinfo"><embed  autostart=true src="<%= @entry.song.songfile.url %>" controls=console width=300 height=18><BR><span class='audiolink'>Press play button to start audio, or <%= link_to "right-click here to download", @entry.song.songfile.url %> </span></p></center>
		<% end %>
	<% end %>
	</div>
</center>
<script>
	$('#entrymedia').width(<%= media_width(@entry) %>);
	$('#myModal').width(<%= media_width(@entry) + 50 %>);
	$('#entrymedia').height(<%= media_height(@entry) %>);
	$('#modal-body').height(<%= media_height(@entry) + 95 %>);
	$('#myModal').height(<%= media_height(@entry) + 95 %>)
		 .css('margin-top', ($('#myModal').outerHeight() / 2) * -1)
         .css('margin-left', ($('#myModal').outerWidth() / 2) * -1)
		 .draggable({ handle: "p.movebutton" });
    
</script>