<%= simple_form_for @movie, :html => { :class => 'form-horizontal' } do |f| %>
	<%= f.input :name %>
	<%= f.input :width %>
  	<%= f.input :embed_code, :input_html => {:rows => 5, :width => '100%'} %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                movies_path, :class => 'btn' %>
  </div>
<% end %>
