<%- model_class = Calendar -%>
<div class="page-header">
  <h1><%=t '.title', :default => t('helpers.titles.edit', :model => model_class.model_name.human,
                                   :default => "Edit #{model_class.model_name.human}") %></h1>
</div>
<%= render :partial => 'form' %>
<h3>Entries</h3>
<table class="table table-condensed table-striped">
	<tr><th>&nbsp;</th><th>Day</th><th>Picture</th><th>Song</th><th>Movie</th></tr>
<% @calendar.entries.each do |e| %>
	<tr>
		<td>
			<%= link_to 'edit', edit_calendar_entry_path(@calendar, e), {:class => 'btn btn-small btn-info'} %>
			<%= link_to 'preview', calendar_entry_path(@calendar, e), {:class => 'btn btn-small'} %>
          	<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      calendar_entry_path(@calendar, e),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>

		</td>
		<td><%= e.day %></td>
		<td>
			<% if e.picture %>
				<%= image_tag(e.picture.picturefile(:thumb))  %><br>
				<%= e.picture.height %> x <%= e.picture.width %>
			<% end %>
		</td>
		<td><%= e.song.label if e.song %></td>
		<td><%= e.movie.name if e.movie %></td>
	</tr>
	
<% end %>

</table>
<%= link_to "New entry", new_calendar_entry_path(@calendar), :class => 'btn' %>