<%- model_class = Calendar -%>
<div class="page-header">
  <h1><%=t '.title', :default => t('helpers.titles.edit', :model => model_class.model_name.human,
                                   :default => "Edit #{model_class.model_name.human}") %></h1>
</div>
<%= render :partial => 'form' %>
<h3>Entries</h3>
<table class="table table-condensed table-striped">
	<tr><th>Picture</th><th>Song</th><th>Movie</th></tr>
<% @calendar.entries.each do |e| %>
	<tr>
		<td><%= e.picture %></td>
		<td><%= e.song %></td>
		<td><%= e.movie %></td>
	</tr>
	
<% end %>

</table>
<%= link_to "New entry", new_calendar_entry_path(@calendar), :class => 'btn' %>