<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Advent" %></title>
	<link href='http://fonts.googleapis.com/css?family=Clicker+Script|Spinnaker|Oranienbaum|Chivo' rel='stylesheet' type='text/css'>
    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->

	    <%= stylesheet_link_tag "application", :media => "all" %>
	    <%= stylesheet_link_tag "/stylesheets/#{@calendar.pub_date.year}.css", :media => "all" %>
  <style>
  #cal {
  	height:635px;
  	background: url('<%= @calendar.background.url.html_safe if @calendar.background %>') no-repeat left top;	
  }
  </style>
  </head>
  <body>
<%#
    <div class="navbar navbar-fluid-top"  id="calnav">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Advent</a>
          <div class="container-fluid nav-collapse">
            <ul class="nav">
              <li><%= link_to "Link1", "/path1"  ></li>
              <li><%= link_to "Link2", "/path2"  ></li>
              <li><%= link_to "Link3", "/path3"  ></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
 %>

    <div class="container-fluid" id="cal">
      <div class="row-fluid">
	    <div class="span9">
          <%= bootstrap_flash %>
          <%= yield %>
        </div>
        <div class="span3">
		
		<div id="logo">
			<h3 class="logofirst">Terri, Ezra, &amp; Rainer's</h3>
			<h2><%= @calendar.pub_date.year %></h2>
			<h3>Advent Calendar</h3>
		</div>
		

<% if params[:debug] %>		
	<%= link_to "endragify", '#', {:id => 'endragify', :class => 'btn btn-small'} %>
	<div id="entryformarea">
		
	</div>
<% end %>
		<%= render :partial => "calendars/nav#{@calendar.pub_date.year}" rescue nil %>
		<%# link_to "Advent Radio", '#', {:class => 'btn', :id => 'pop-up-radio'} %>
		
	
        </div><!--/span-->
      </div><!--/row-->

      <footer>
      </footer>

    </div> <!-- /container -->

    <!-- Javascripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "application" %>
  </body>
</html>
